<div>
    <div class="festival_text" align="center">
      <a href="/festival_list">Back to Festivals</a>
        <h2><%= @festival.name %></h2>
          <p>Location: <%= @festival.location %></p>
          <p>Start Date: <%= @festival.date %></p>
          <p>Ticket Price: $<%= @festival.cost %></p>
          <a href="/festival/<%= @festival.id %>/edit">Edit Festival</a>
            <br>
            <br>
          <a href="/attended_festival/<%= @festival.id %>">Festival Attendees</a>
            <br>
            <br>

      <form method="post" action="/festival/<%= @festival.id %>">
        <input type='hidden' name="_method" value='delete'>
        <button class="delete_button" type="submit">Delete Festival</button>
      </form>
      <br>
      <br>
    </div>
    <div class="festival_image">
      <img class= 'size_festival' src="<%= @festival['image_url'] %>">
    </div>
</div>
